{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
<h2 class='m-4'> Список сторінок </h2>
<div class='ms-4'>
  Ця сторінка включає в собі посилання на інші сторніки
  цього проєкту
</div>

<div class='col-2 ps-4'>
  <div class='row'>
    <a href='/bio' class='btn btn-primary m-2'>
      Bio page
    </a>
    <a href='/car' class='btn btn-primary m-2'>
      Car page
    </a>
    <a href='/education' class='btn btn-primary m-2'>
      Education page
    </a>
    <a href='/facebook' class='btn btn-primary m-2'>
      Facebook page
    </a>
    <a href='/js' class='btn btn-primary m-2'> Js page </a>
    <a href='/mac' class='btn btn-primary m-2'>
      Mac page
    </a>
    <a href='/person' class='btn btn-primary m-2'>
      Person page
    </a>
    <a href='/program' class='btn btn-primary m-2'>
      Program page
    </a>
    <a href='/shopcart' class='btn btn-primary m-2'>
      Shopcart page
    </a>
    <a href='/shopcatalog' class='btn btn-primary m-2'>
      Shopcatalog page
    </a>
    <a href='/shophome' class='btn btn-primary m-2'>
      Shophome page
    </a>
    <a href='/shoporder' class='btn btn-primary m-2'>
      Shoporder page
    </a>
    <a href='/shopprofile' class='btn btn-primary m-2'>
      Shopprofile page
    </a>
    <a href='/shopreview' class='btn btn-primary m-2'>
      Shopreview page
    </a>
    <a href='/skills' class='btn btn-primary m-2'>
      Skills page
    </a>
    <a href='/summary' class='btn btn-primary m-2'>
      Summary page
    </a>
    <a href='/task21' class='btn btn-primary m-2'>
      Task21 page
    </a>
    <a href='/task22' class='btn btn-primary m-2'>
      Task22 page
    </a>
    <a href='/task31' class='btn btn-primary m-2'>
      Task31 page
    </a>
    <a href='/web' class='btn btn-primary m-2'>
      Web page
    </a>
    <a href='/work' class='btn btn-primary m-2'>
      Work page
    </a>
  </div>
</div>