<nav class="breadcrumb">
      <div class="breadcrumb-item">{{> link text="Skills" href="/skills" line=true}}</div>
      <div class="breadcrumb-item">{{> link text="Summary" href="/summary" line=true}}</div>
      <div class="breadcrumb-item">{{> link text="Education" href="/education" line=true}}</div>
      <div class="breadcrumb-item">{{> link text="Work" href="/work" line=true noLine=true}}</div>
</nav>